<h2>Create new vendor profile</h2>

<% if @registered_vendor.errors.full_messages.any? %> <!-- any? means length > 0 -->
  <strong>Oops! That didn't work: </strong>
  <ul>
    <% @registered_vendor.errors.full_messages.each do |e| %>
    <li><%= e %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @registered_vendor, local: true, html: { multipart: true } do |f| %>

<%= f.label :vendor_name %>
<%= f.text_field :vendor_name %> <br>
<br>

<%= f.label :phone_number %>
<%= f.text_field :phone_number %> <br>
<br>

<%= f.label :email_address %>
<%= f.text_field :email_address %> <br>
<br>

<%= f.label :address %>
<%= f.text_field :address %> <br>
<br>

<%= f.label :suburb %>
<%= f.text_field :suburb %> <br>
<br>

<%= f.label :state %>
<%= f.text_field :state %> <br>
<br>

<%= f.label :postcode %>
<%= f.text_field :postcode %> <br>
<br>

<%= f.label :website %>
<%= f.text_field :website %> <br>
<br>

<%= f.label :logo, "Logo image URL" %>
<%= f.file_field :logo %> <br>
<br>

<%= f.label :background_image, "Background image URL" %>
<%= f.file_field :background_image %> <br>
<br>

<%= f.label :hero_image, "Hero image URL" %>
<%= f.file_field :hero_image %> <br>
<br>

<%= f.label :instagram, "Instagram URL" %>
<%= f.text_field :instagram %> <br>
<br>

<%= f.label :instagram, "Facebook URL" %>
<%= f.text_field :instagram %> <br>
<br>

<%= f.label :online_store, "Has online store?" %>
<%= f.text_field :online_store %> <br>
<br>

<%= f.collection_check_boxes(:consumer_category_ids, ConsumerCategory.all, :id, :name) %>
<br>
<br>

<%= f.collection_check_boxes(:consumer_value_ids, ConsumerValue.all, :id, :name) %>
<br>
<br>


<%= f.label :bio, "Short bio about store" %>
<%= f.text_field :bio %> <br>
<br>

<%= f.label :password, "set password for account:" %>
<%= f.text_field :password_field %> <br>
<br>

<%= f.label :password_confirmation %>
<%= f.password_field :password_confirmation%> <br>
<br>

<%= f.submit%>

<% end %>
