<!DOCTYPE html>
<html>
  <head>
    <title>MindfulConsumerApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <style>
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
</style>
  </head>

  <body>
    <header>
      <nav>
        <h1 class="header_title"><%= link_to "Mindful Consumer", root_path %></h1>
        <ul class="menu">
          <% if @current_user.present?%>
            <% if @current_user.has_attribute?(:name) %>
            <!-- conditions for general public login -->
                <li><em>Welcome, <%= @current_user.name %></em></li>  |
                <li><%= link_to "My Profile", registered_user_path(@current_user.id)%></li> |
                <li><%= link_to "Logout", login_user_path, :method => 'delete'%></li>
            <%else%>
              <!-- conditions for general public login -->
                  <li><em>Welcome, <%= @current_user.vendor_name %></em></li> |
                  <% if  @current_user.admin == false %>
                    <li><%= link_to "Store Profile", registered_vendor_path(@current_user.id)%></li> |
                  <% end %>
                  <li> <%= link_to "Logout", login_path, :method => 'delete'%></li>

            <% end %>

          <% else %>
            <li><%= link_to "Store log in", login_path %></li> |
            <li><%= link_to "Log in", login_user_path %></li>
          <% end %>
        </ul>




      </nav>
        <div class="secondary_nav">
          <ul class="menu">

            <li><%=link_to "Home", root_path  %></li>
            <li><%=link_to "Resources Directory", registered_vendors_path  %></li>
            <li><%=link_to "About", about_path  %></li>
            <li><%=link_to "Contact", contact_path  %></li>
            <% if @current_user.present? %>
              <% if @current_user.has_attribute?(:admin) %>
                <% if @current_user.admin%>
                  <li><%=link_to "Add Vendor", registered_vendors_path  %></li>
                <% end %>
              <% end %>
            <% end %>
            </ul>
        </div>


    </header>
    <div class="page_body">
    <%= yield %>
      </div>
    <footer>
      &copy; Mindful Consumer 2020
    </footer>
  </body>
</html>
